* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F2F2F2;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;

}

.article {
    display: flex;
    flex-direction: column;
    width: 327px;
    height:512px;
    background-color: #Ffffff;
    border-radius:10px ;
    margin: 170px 0;
    position: relative;
}

.article__img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.article__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 2rem;
}

.article__content > a {
    text-decoration: none;
    color: #48556A;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
}

.article__content > p {
    margin-top: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #6E8098;
    font-size: 13px;
}

.article__content__author {
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 20px 20px;
    align-self: center;
}

.article__content__author > img {
    width: 40px;
    border-radius: 25px;
}

.article__content__author--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 15px;
}

.article__content__author--info > h3 {
    font-size: 13px;
    color: #48556A;
    font-weight: 700;
}

.article__content__author--info > p {
    font-size: 13px;
    color: #9DAEC2;
    font-weight: 500;
    
}

.article__content__author__share-btn {
    border: none;
    background-color:transparent;
    margin-left:30px; 
    cursor: pointer;

}

.article__content__share {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    background-color: #48556A;
    transition: all .5s ease;
}

.article__content__share--icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.article__content__share--icons > p {
   color: #9DAEC2;
   font-weight: 500;
   font-size: 13px;
   line-height: 20px;
   letter-spacing: 5px;

}

.article__content__share--icons > button {
    background-color: transparent;
    border: none;
    margin-left: 30px;
    cursor: pointer;
}

.show {
    display: flex;
    height: 64px;
    opacity: 1;
}

@media screen and (min-width: 920px) {
    .article {
        flex-direction: row;
        height: 280px;
        width:730px;
    }

    .article__img {
        height: 280px;
        width: 350px;
        border-radius: 10px 0 0 10px ;
    }

    .article__content{
        justify-content: flex-start;
    }

    .article__content__author {
        margin-bottom: 32px;
    }

    .article__content__author__share-btn {
        margin-left: 100px;
    }

    .article__content__share {
        width: 248px;
        border-radius: 10px;
        right: -50px;
        bottom: 90px;
    }

    .show {
        display: flex;
        height: 55px;
        opacity: 1;
        right: -50px;
        bottom: 90px;
        position: absolute;
    }

    #btn-share-active {
        display: none;
    }
}